@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-color: #262626;
}
.column {
    max-width: 500px;
}
.margen {
    margin-top: 50px;
}
#btnLogin {
    background: #F5A214;
    color: white;
}
.titulo {
    color: white;
    border-right: 3px solid #F5A214;
    border-left: 3px solid #F5A214;
}
#btnGenerar {
    bottom: 0;
    left: : 0;
    color: #fff;
}
.montserrat {
    font-family: 'Montserrat';
}