.tableStyle {
    width: 100%;    
}
.tableStyle tr {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 100;
}
.tableStyle td {
    text-align: center;
    padding: 5px;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0,0,0,0.1);   
    overflow: hidden;
    text-overflow: ellipsis;
}
.tableStyle td:first-child {
	width: 250px;
}
.tableStyle th {
    border-bottom: 3px solid #F5A214;
    text-align: center;
    color: #262626;
    font-size: 12px;
}

.accordion {
    background: rgba(0,0,0,0.1);
}
.activated {
    display: table-row;
}
.unActivated {
    display: none;
}
.unDisplayColumn {
    display: none;
}
.tdPosition {
    position: relative;
}

.btnPlus {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.btnPlus:hover {
    cursor: pointer;
}

.form-control {
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    text-align: center;
}

@media (min-width: 970px) {
    .unDisplayColumn {
        display: table-cell;
    }
     .btnPlus {
        display: none;
    }
}