.bordes {
    border-left: 1px solid #D4D4D5;
    border-right: 1px solid #D4D4D5;
    border-bottom: 1px solid #D4D4D5;
    padding: 0px;
    margin: 0px;
}
.nw {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}
.bor {
    border-bottom: 1px solid #D4D4D5;
}
.headTable {
    font-size: 12px;
    font-weight: 600;
    padding: 0;
}
.bodyTable {
    padding: 0;
}
.listTable {
    padding: 10px;
    background: rgba(0,0,0,0.1);
    font-size: 10px;
}
.btnPlus {
    margin-left: 5px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}
.row {
    padding: 0;
}
.iXs {
    height: 22px;
}
.activado {
    display: inline-block;
}
.desactivado {
    display: none;
}
.ce {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flex-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: center;*/
    align-items: center;
    padding: 0px;
    margin: 5px 5px 20px 5px;
}
.long-and-truncated-with-child-corrected {
    flex: 1;
    min-width: 0; /* or some value */
}
.long-and-truncated-with-child-corrected > a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.links {
    position: absolute;
    bottom: 0;
    right: 0;
}
@media (max-width: 992px) {
    .dn {
        display: none;
    }
    .te {
        margin-left: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (min-width: 993px) {
    .btnPlus {
        display: none;
    }
    .ai {
        text-align: left;
    }
    .ad {
        text-align: right;
    }
    .listTable {
        display: none;
    }
}
@media (min-width: 1200px) {
    .ai {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .ad {
        text-align: center;
    }
}