
 body {
    overflow-x: hidden;
 }
#wrapper {
    padding: 0px;
}

#wrapper.toggled {
    padding-left: 250px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
}

#page-content-wrapper {
    width: 100%;
}

