Options -Indexes
RewriteEngine On
ErrorDocument 403 http://localhost/html/public/errores/403.php
ErrorDocument 404 http://localhost/html/public/errores/404.php
ErrorDocument 500 http://localhost/html/public/errores/500.php