
#bar {
    position: fixed;
    width: 100%;
    height: 45px;
    background-color: #262626;
    z-index: 1;
}
.side {
    position: fixed;
    top: 45px;
    width: 250px;
    height: calc(100% - 45px);
    background: red;
    z-index: 1;
    overflow-y: auto;
    left: 0px;
}
#content {
    position: absolute;
    width: calc(100% - 250px);
    top: 45px;
    left: 250px;
}

/*
.side {
    left: -250px;
}
.content {
    left: 0px;
}

