
.buttonsContainer {
    width: 100%;
    height: 50px;
    overflow: hidden;
}
.buttonsContainer a {
    background: rgb(224, 225, 226);
    width: 50%;
    height: 100%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    outline-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    font-family: 'Montserrat';
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.buttonsContainer a:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,0.2);
    color: rgba(0, 0, 0, 0.87);
}

table td {
    padding: 15px;
    white-space: nowrap;
    font-family: 'Montserrat';
}
table {
    width: 100%;
}
.a { 
    width: 100%; 
    overflow-x: auto;  
    padding-left:8em; 
}
.headcol {
    position:absolute; 
    width:8em;
    left:0;
    overflow:hidden;
    background: white;
}





