.unTitleCard span {
    color: #262626;
    font-family: 'Montserrat';
}
.unTitleCard p {
    color: #262626;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat';
}
.unTitleCard > i {
    color: #262626;
}
.statistic {
    font-family: 'Montserrat';
    padding: 25px 0px 20px 0px;
}
.ct-series-a .ct-line {
    stroke : #F5A214;
    stroke-width: 1px;
}
.ct-series-b .ct-line {
    stroke : #262626;
    stroke-width: 1px;
}
.ct-series-a .ct-point {
    stroke: #F5A214;
    stroke-width: 12px;
    stroke-linecap: square;
}
.ct-series-b .ct-point {
    stroke: #262626;
    stroke-width: 12px;
    stroke-linecap: circle;
}
.ct-label.ct-vertical { 
    font-size: 12px; 
    color: #262626;
    font-family: 'Montserrat';
    
}
.ct-label.ct-horizontal { 
    font-size: 10px; 
    position: relative; 
    transform: rotate(45deg); 
    transform-origin: left top; 
    color: #262626;
    font-family: 'Montserrat';
}
#example text {
    font-size: 30px;
    font-family: 'Montserrat';
}
#example .ct-series-a .ct-slice-donut {
    stroke: #F5A214;
}
#example .ct-series-b .ct-slice-donut {
    stroke: #262626;
}
.chartLineContainer {
    position: relative;
    top: 0;
    left: 0;
    overflow: auto;
    height: 300px;
    z-index: 0;
}
.chartLine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
#chartLine {
    width: 2000px;
    height: 250px;
}
.chartLineSticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
#chartLineSticky {
    width: 2000px;
    height: 250px;
}
.chartLineBackground {
    position: absolute;
    top: 0;
    left: 40px;
    width: 1960px;
    height: 250px;
    background: white;
    z-index: 2;
}


@media (min-width: 1170px) {
    #chartLine {
        width: 100%;
    }
    #chartLineSticky {
        width: 100%;
    }
    .chartLineBackground {
        width: calc(100% - 40px);
    }
}
