/* STATISTIC */
.statistic {
    font-family: 'Montserrat';
    color: #262626;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.statistic > i {
    color: #262626;
}
.legend {
    display: inline-block;
    margin-left: 20px;
}
.legend .number {
    font-size: 20px;
    font-weight: bold;
}
.legend .subLegend {
    font-size: 12px;
}
/* AVERAGE */
table {
    width: 100%;
    height: 55px;
}
table th {
    text-align: center;
    font-size: 12px;
    padding: 5px;
    border-right: 1px solid rgba(0,0,0,0.1);
}
table td {
    text-align: center;
    background: white;
    font-family: 'Montserrat';
    border-right: 3px solid rgba(0,0,0,0.1);
    font-weight: bold;
}
/* DONUTS CHART */
.backYellow {
    background: #F5A214;
}
.backGrey {
    background: #262626;
}
.legendColor {
    height: 5px;
    width: 100%;
}
.motorLegend {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
.ct-series-a .ct-line {
    stroke : #F5A214;
    stroke-width: 1px;
}
.ct-series-b .ct-line {
    stroke : #262626;
    stroke-width: 1px;
}
.ct-series-a .ct-point {
    stroke: #F5A214;
    stroke-width: 12px;
    stroke-linecap: square;
}
.ct-series-b .ct-point {
    stroke: #262626;
    stroke-width: 12px;
    stroke-linecap: circle;
}
.ct-label.ct-vertical { 
    font-size: 12px; 
    color: #262626;
    font-family: 'Montserrat';
    
}
.ct-label.ct-horizontal { 
    font-size: 10px; 
    position: relative; 
    transform: rotate(45deg); 
    transform-origin: left top; 
    color: #262626;
    font-family: 'Montserrat';
}
.chartist-tooltip {
    font-family: 'Montserrat';
}
/*.donutContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}*/
/*BARRAS*/
#example2 {
    height: 252px;
    width: 100%;
}
#example2 .ct-series-a line {
    stroke : #F5A214;
    stroke-width: 20px;
    color: yellow;
}
#example2 .ct-label.ct-vertical { 
    font-size: 12px; 
    color: #262626;
    font-family: 'Montserrat';
    
}
#example2 .ct-label.ct-horizontal { 
    font-size: 10px; 
    position: relative; 
    transform: rotate(45deg); 
    transform-origin: left top; 
    color: #262626;
    font-family: 'Montserrat';
    padding: 0px;
}
/*DONUT*/
#example {
    height: 240px;
    width: 100%;
    margin: 0 auto;
}
#example text {
    font-size: 16px;
    font-family: 'Montserrat';
}
#example .ct-series-a .ct-slice-donut {
    stroke: #F5A214;
}
#example .ct-series-b .ct-slice-donut {
    stroke: #262626;
}
/* CHART LINE */
.chartLineContainer {
    position: relative;
    top: 0;
    left: 0;
    overflow: auto;
    height: 300px;
    z-index: 0;
}
.chartLine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
#chartLine {
    width: 2000px;
    height: 250px;
}
.chartLineContainerHistorical {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    width: 100%;
}
#chartLineHistorical {
    height: 100px;
}
#chartLineHistorical2 {
    height: 100px;
}

#chartLineHistorical3 {
    height: 100px;
}

#chartLineHistorical4 {
    height: 100px;
}


.chartist-tooltip {
    position: absolute;
    display: inline-block;
    min-width: 5em;
    padding: 8px 10px;
    background: #383838;
    color: #fff;
    text-align: center;
    pointer-events: none;
    z-index: 100;
    transition: opacity .2s linear;
    transform-origin: 50% 50%;
transform: translateX(0px) translateY(20px) rotate(-45deg);
 
    &:before {
        position: absolute;
        bottom: -14px;
        left: 50%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        pointer-events: none;
        border-color: rgba(251, 249, 228, 0);
        border-top-color: #383838;
        border-width: 7px;
        margin-left: -8px;
    }
 
    &:hide {
        display: block;
        opacity: 0;
        visibility: hidden;
    }
}




#chartLine2 {
    width: 2000px;
    height: 250px;
}
.chartLineSticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
#chartLineSticky {
    width: 2000px;
    height: 250px;
}
#chartLineSticky2 {
    width: 2000px;
    height: 250px;
}
.chartLineBackground {
    position: absolute;
    top: 0;
    left: 40px;
    width: 1960px;
    height: 250px;
    background: white;
    z-index: 2;
}
@media (min-width: 1170px) {
    #chartLine {
        width: 100%;
    }
    #chartLine2 {
        width: 100%;
    }
    #chartLineSticky {
        width: 100%;
    }
    #chartLineSticky2 {
        width: 100%;
    }
    .chartLineBackground {
        width: calc(100% - 40px);
    }
}
@media (max-width: 500px) {
    #example2 .ct-series-a line {
        stroke : #F5A214;
        stroke-width: 10px;
    }
}
