@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
.tCenter {
    text-align: center;
    padding: 20px;
    color: #262626 !important;
    font-size: 1.1rem;
}
.tCenter span {
    font-family: 'Montserrat';
}
.fLeft {
    float: left;
}
.fRight {
    float: right;
}
.titleIndustry {
    border-bottom: 1px solid #D4D4D5;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
}
.titleIndustry span {
    color: #262626;
    font-size: 15px;
    margin-left: 30px;
    font-family: 'Montserrat';
}
.titleIndustry .btn {
    padding: 0px 3px 0px 20px;
    border-radius: 3px 3px 3px 3px;
}
.titleIndustry a i {
    opacity: 0.45 !important;
}
.titleIndustry .btn:hover {
    background: rgba(0,0,0,0.1) !important;
    cursor: pointer;
}
.titleIndustry a {
    cursor: pointer;
}
.dropdown {
    background: white;
}
.dropdown-menu {
    padding: 0px;
    border-radius: 0px;
}
.dropdown-menu li a {
    padding: 5px;
}
.dropdown-menu li i {
    margin-right: 20px;
    margin-left: 20px;
}
/* MODALS */
.modal-header {
    position: relative;
    padding: 20px 20px 10px 20px;
}
.modal-header > i {
    float: right;
}
.modal-header {
    display: block;
    margin: 0px;
    font-size: 20px;
}
.modal-body {
    font-family: 'Lato';
}
.clearfix .btn-inverse {
    margin-right: 20px;
}
.clearfix button i {
    margin-right: 10px;
}
/* BORDER CARD */
.shadow {
    border-top: 1px solid #D4D4D5;
    border-left: 1px solid #D4D4D5;
    border-right: 1px solid #D4D4D5;
    border-radius: 10px 10px 0px 0px;
}
.card {
    padding: 5px;
}
/* BOTON VER */
.boton {
    background: rgb(224, 225, 226);
    width: 100%;
    display: inline-block;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    text-decoration: none;
    font-family: 'Lato';
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    outline-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
    user-select: none;

}
.boton:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,0.2);
    color: rgba(0, 0, 0, 0.87);
}


