@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
.tCenter {
    text-align: center;
    padding: 10px;
    color: #262626 !important;
}
.tCenter span {
    font-family: 'Lato';
}
.fLeft {
    float: left;
}
.fRight {
    float: right;
}
.titleIndustry {
    border-bottom: 3px solid #F5A214;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
}
.titleIndustry span {
    color: #262626;
    font-size: 22px;
    margin-left: 20px;
}
.titleIndustry .btn {
    padding: 0px 3px 0px 20px;
    border-radius: 3px 3px 3px 3px;
}
.titleIndustry a i {
    opacity: 0.45 !important;
}
.titleIndustry .btn:hover {
    background: rgba(0,0,0,0.1) !important;
    cursor: pointer;
}
.titleIndustry a {
    cursor: pointer;
}
.dropdown {
    background: white;
}
.dropdown-menu {
    padding: 0px;
    border-radius: 0px;
}
.dropdown-menu li a {
    padding: 5px;
}
.dropdown-menu li i {
    margin-right: 20px;
    margin-left: 20px;
}
/* MODALS */
.modal-header {
    position: relative;
    padding: 10px 25px 5px 25px;
}
.modal-header > i {
    float: right;
}
.modal-header {
    display: block;
    margin: 0px;
    font-size: 20px;
}
.modal-body {
    font-family: 'Lato';
}
.clearfix .btn-inverse {
    margin-right: 20px;
}
.clearfix button i {
    margin-right: 10px;
}


