@import url('https://fonts.googleapis.com/css?family=Lato');

.a {
    color: #F5A214 !important;
}
.gc {
    color: #F5F4F3 !important;
}
.go {
    color: #262626 !important;
}
.c {
    color: #4183C4 !important;
}

#bar {
    background: #262626;
    width: 100%;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    font-family: 'Lato';
    color: white;
    text-align: center;
    border-bottom: 5px solid #F5A214;
	font-size: 22px;
}
#wrapper {
    margin-top: 50px;
    text-align: justify;
    font-size: 10px;
}

