table {
    width: 100%;    
}
table tr {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 100;
}

table td {
    text-align: center;
    padding: 5px;
    /*white-space: nowrap;*/
    border-bottom: 1px solid rgba(0,0,0,0.1);
    
    
}
table th {
    border-bottom: 3px solid #F5A214;
    text-align: center;
    color: #262626;
    font-size: 12px;
}
.shadowBottomTr {
        box-shadow: 0px 2px 10px #888888;
}
.shadowTopTr {
        box-shadow: 0px -2px 10px #888888;
}
.accordion {
    /*text-align: left;*/
    background: rgba(0,0,0,0.1);
    color: #262626;
    display: none;
    
}
.ac {
    display: table-cell;
}
.accordion ul {
    padding: 0;
}
.accordion li {
    list-style: none;
    text-align: center;
}
.unDisplayColumn {
    display: none;
}
.tdPosition {
    position: relative;
}

.plusIcon {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

@media (min-width: 970px) {
    .unDisplayColumn {
        display: table-cell;
    }
    .accordion {
        display: none;
    }
     .btnPlus {
        display: none;
    }
}

