.ui.grid {
    margin-top: 1px;
}
.borde {
    border-style: 1px solid red;
}
.a {
    color: #F5A214 !important;
}
.gc {
    color: #F5F4F3 !important;
}
.go {
    color: #262626 !important;
}
.c {
    color: #4183C4 !important;
}
#menu:hover {
	background: rgba(255, 255, 255, 0.1);
}
#letra {
	margin: 5px auto;
	color: #fff;
	font-size: 22px;
	font-weight: 100;
}
.ui.top.fixed.menu {
	background: #262626;
	box-shadow: none;
	border-bottom: 5px solid #F5A214;
}
.ui.vertical.left.sidebar.menu {
	background-color: #262626;
}
#menu {
	background: #F5A214;
	color: #FFF;
}
#menu:hover {
	background: rgba(255, 255, 255, 0.1);
}
.ui.grid + .grid {
    margin-top: 0px;
}
.ui.container {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.ui.top.attached.header {
    border-radius: 0px;
}
