.iz {
    float: left;
    color: white;
}
.ce {
    text-align: center;
    color: white;
}
.ui.vertical.menu .item:before {
    width: 0%;
}
/*GRILLA*/
.ui.grid {
	margin-top: 10px;
	background: #fff;
	padding: 10px;
}
/*BARRA*/
.ui.top.fixed.menu {
	background: #262626;
	box-shadow: none;
	border-bottom: 5px solid #F5A214;
}
/*MACHINE MONITORS*/
#letra {
	margin: 5px auto;
	color: #fff;
	font-size: 22px;
	font-weight: 100;
}
/*LATERAL*/
.ui.vertical.left.sidebar.menu {
	background-color: #262626;
}
.ui.menu {
	border: none;
}
/*PERFIL*/
#perfil {
	padding: 50px;
	width: 260px;
	background: #F5A214;
}

.ui.icon.header {
	display: inline;
}

#menu {
	background: #F5A214;
	color: #FFF;
}
#menu:hover {
	background: rgba(255, 255, 255, 0.1);
}
#hola:hover {
	background: rgba(255, 255, 255, 0.1);
}
.ui.basic.modal {
	color: white;
}



